<web-app>
	<display-name>Shooting score display</display-name>
	<welcome-file-list>
		<welcome-file>match2.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Shooting-score-display</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>dk.kingu.shootingscoredisplay</param-value>
		</init-param>
	    <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
            <load-on-startup>1</load-on-startup>
        </init-param> 
	</servlet>

	<servlet-mapping>
		<servlet-name>Shooting-score-display</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>dk.kingu.shootingscoredisplay.ShootingScoreDisplayContextListener</listener-class>
	</listener>
</web-app>
